<h1> Vyhodnocení testu <%= @tem.name %> </h1>
<div class="points">
  Váš výsledek: <span class="red"><%=@percentage%>%</span> (<%= @score %>b, max <%= @max_points %>b)
</div>
<p><a href="javascript: history.go(-1)">Opakovat test</a></p>
<% @questions.each_with_index do |question,i| %>
  <% cnt = i+1 %>
  <table width="100%"><tr>
    <td valign="top">
      <span class="question">  <%= cnt %>. <%= (h question.value).html_newlines %> </span> 
    </td>
    <td valign="top" align="right" width="80px">
      <i>(<span class="red"><%=@corrections[cnt.to_s]["total"]%>b</span>, max <%= question.points%>b)</i>
    </td>
  </tr><tr><td>
  <% question.answers.each do |answer| %>
  <%    
  reaction = @replies[cnt.to_s][answer.choice] 
  %>
  <% if question.is_multiple %>
  <%= check_box_tag "answers[#{cnt}][#{answer.choice}]",value = "1", reaction, :disabled => true %> 
  <% else %>
  <%= radio_button_tag "answers[#{cnt}]",answer.choice, reaction, :disabled => true %>
  <% end %>
  <span class="<%= answer.correct ? 'green' : 'none' %>">
    <%= h answer.value %><br/>
  </span>
  <% end %>
</td></tr></table>
  <br/>
  <% end %>

