<h1>On-line test pro téma <%= @tem.name %></h1>

<% form_for :quiz, :url => {:action => 'evaluate'}, :html => {:name=>'myform'} do |f| %>
<% @questions.each_with_index do |question,i| %>
<% cnt = i+1 %>
<span class="question"> <%= cnt %>. <%= (h question.value).html_newlines %> </span>

<% question.answers.each do |answer| %>

<% if question.is_multiple %>
<%= check_box_tag "answers[#{cnt}][#{answer.choice}]" %> 
<% else %>
<%= radio_button_tag "answers[#{cnt}]",answer.choice %>
<% end %>
<label for="answers_<%=cnt%>_<%=answer.choice%>"><%= h answer.value %></label><br/>
<% end %>

<% end %>
<br/>
<center><img class="button" src="/images/uu_send.png" onclick="document.myform.submit();" /></center>
<% end %>
