<h1>Self-test z předmětu <%= @name %></h1>
<p>
Témata: <b><%= @topics.map{|x| x.name}.join(',') %></b><br/>
Počet otázek: <b><%= @amount %></b><br/>
Maximální počet bodů: <b><%= @max_points %></b>
</p>
<% form_for :quiz, :url => {:action => 'evaluate'}, :html => {:name=>'myform'} do |f| %>
<% @questions.each_with_index do |question,i| %>
<% cnt = i+1 %>
<table width="100%"><tr>
  <td valign="top">
    <span class="question">  <%= cnt %>. <%= (h question.value).html_newlines %> </span> 
  </td>
  <td valign="top" align="right" width="30px">
    <i>(<%= question.points%>b)</i>
  </td>
</tr><tr><td>
<% question.answers.each do |answer| %>

<% if question.is_multiple %>
<%= check_box_tag "answers[#{cnt}][#{answer.choice}]" %> 
<% else %>
<%= radio_button_tag "answers[#{cnt}]",answer.choice %>
<% end %>
<label for="answers_<%=cnt%>_<%=answer.choice%>"><%= h answer.value %></label><br/>
<% end %>
<br/>
</td></tr></table>
<% end %>

<br/>
<center><img class="button" src="/images/uu_send.png" onclick="document.myform.submit();" /></center>
<% end %>
