<%= error_messages_for :import %>

<% form_for(:import, :url => '/import/result', :html => { :multipart => true }) do |f| -%>
<table>
  <tr>
    <td><label for="course">Choose course:</label></td>
    <td><%= f.select "course", Course.find(:all).collect {|p| [ p.name, p.id ] }, { :include_blank => true } %></td>
  </tr>
  <tr>
    <td><label for="topic"><b>Or create new:</b></label></td>
  </tr><tr>
    <td>Code:</td><td><%= f.text_field "course_new_code", :size=>3 %></td>
  </tr><tr>
    <td>Name:</td><td><%= f.text_field "course_new_name" %></td>
  </tr>
  <tr>
    <td><label for="import">Choose file:</label></td>
    <td><%= f.file_field :uploaded_data %></td>
  </tr>
  <tr>
    <td><%= submit_tag 'Import' %></td>
  </tr>
</table>
<% end -%>